<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.cloud.music.admin.mapper.SysRoleMapper">

    <resultMap id="menuMap" type="map">
        <collection property="roleMenus" column="{roleId=role_id}" select="com.soft1851.cloud.music.admin.mapper.RoleMenuMapper.getParentMenuByRoleId" />
    </resultMap>
    <select id="selectAll" resultMap="menuMap" >
        SELECT * FROM sys_role
    </select>

</mapper>
